@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(109, 177, 233);
    font-family: 'Ubuntu', sans-serif;
}

h1{
    color: #000000;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.form {
    border-radius: 10px;
    padding: 10px;
    background: white;
    width: 50%;
    display: flex;
    justify-content: center;
}

#nova-tarefa {
    width: 30vw;
    border: none;
    font-size: 18px;
}

#submit {
    background-color: rgb(77, 152, 214);
    color: white;
    border: none;
    height: 35px;
    border-radius: 20px;
    padding: 10px;
}

#lista-tarefas{
    background-color: white;
    width: 50%;
    height: 500px;
    border-radius: 15px;
    margin-top: 10px;
    padding: 25px;
}

.tarefa{
    display: flex;
    justify-content:flex-start;
}
.tarefa-txt {
    margin-left: 5px;
}

input[type=checkbox]:checked + .tarefa-txt {
    text-decoration: line-through;
} 

footer{
    height: 2vmax;
    width: 100%;
    margin-top: 500px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;   
}

a{ 
    text-decoration: none;
    color: #000000;
}